
<section class = "VerTareas">
<h2>Mis Tareas</h2>

@if (ViewBag.Tareas == null || ViewBag.Tareas.Count == 0)
{
    <p>No tenés tareas activas.</p>
}
else
{
    <ul>
        @foreach (Tarea tarea in @ViewBag.Tareas)
        {
            <li>
                <b>@tarea.titulo</b> - @tarea.descripcion - @tarea.fecha.ToString("yyyy-MM-dd") - 
                @(tarea.finalizada ? "Finalizada" : "Pendiente")
            </li>
            <a href='@Url.Action("VerTarea", "Home", new {id = @tarea.id})'>Ver Tarea</a>
        }
    </ul>
}

<br>
<a href='@Url.Action("CrearTarea", "Home")'>Crear Nueva Tarea</a>
<a href='@Url.Action("cerrarSesion", "Account")'>Cerrar Sesion</a>
</section>





